<section id="nuestros-programas">
    <div class="container">
        <h2>Recomendaciones para tus plantas</h2>
        <div id="plantas">
            <p>
                Puesto que no se trata de una familia de plantas o clasificación científica, hay muchas formas de
                agrupar las plantas ornamentales según las características en que nos fijemos. Nosotros hemos elaborado
                una clasificación sencilla en función de sus tipos más diferenciados. Encontramos, así, los siguientes
                grupos de plantas de ornato
            </p>
        </div>

        <div class="programas">
            <div class="carta">
                <div id="title">
                    <h3>Arboles y arbustos</h3>
                </div>
                <img src="./assets/arbol.png">
                <h3>perforando regularmente el pie de arbusto</h3>
                <ul>
                    <li>Al romper la corteza superficial, hará que el suelo esté más suelto, lo que permitirá que el
                        agua fluya hacia las raíces</li>
                    <br>
                    <li>Al mismo tiempo, eliminará las malezas que pueden bombear agua a expensas de las raíces del
                        arbusto.</li>
                </ul>
                <h3>Riega los arbustos sabiamente</h3>
                <ul>
                    <li>Proporcionar protección contra los rayos del sol que calientan el suelo.</li>
                    <br>
                    <li>Limitar la evaporación del agua</li>
                    <br>
                    <li>Frenar el recrecimiento de las malas hierbas, evitando que compitan con las raíces de los
                        arbustos.</li>
                </ul>
                <h3>Riego y protección de árboles ornamentales</h3>

                <p>Todos los árboles ornamentales sembrados por menos de dos años, independientemente de la especie
                    y el tamaño, son vulnerables a la sequía y necesitan ser regados en climas muy calurosos.
                    No se trata de regar muy a menudo, sino copiosamente, una vez por semana o cada 10 días. El
                    establecimiento de un mantillo proporcionará protección adicional, optimizando estos riegos.
                    Más tarde, cuando su sistema de raíces está bien desarrollado, la mayoría de los árboles
                    ornamentales pueden manejarlo por sí mismos durante todo el verano.</p>

            </div>
        </div>

        <div class="programas">
            <div class="carta">
                <div id="title">
                    <h3>Cesped y tapizantes</h3>
                </div>
                <img src="./assets/gerbera.png">
                <h3>Es una planta muy fácil de cultivar y no requiere cuidados especiales, más allá de los habituales.
                </h3>
                <h3>Lo que debes saber con respecto al cultivo de esta especie es los siguiente:</h3>
                <ul>
                    <li>Proporcionar protección contra los rayos del sol que calientan el suelo.</li>
                    <br>
                    <li>Limitar la evaporación del agua</li>
                    <br>
                    <li>Frenar el recrecimiento de las malas hierbas, evitando que compitan con las raíces de los
                        arbustos.</li>
                </ul>
            </div>
        </div>

        <div class="programas">
            <div class="carta">
                <div id="title">
                    <h3>Anuales</h3>
                </div>
                <img src="./assets/florA.png">
                <h3>Las anuales no requieren de un cuidado especial pero he aqui algunos tips</h3>
                <p>Muchas de las anuales requieren muy poco cuidado adicional para mantenerlas atractivas y floreciendo
                    todo el verano, Algunas flores se caen por si solas y no necesitan ser arrancadas manualmente. Otras
                    requieren que se les arranque las flores muertas antes que produzcan semilla. Las plantas anuales
                    viven para producir semilla. Todas sus energías están dirigidas a esta meta. Si se les arranca las
                    flores secas antes de que produzcan semillas, las plantas florecerán más en un esfuerzo de producir
                    semilla eventualmente. Esta práctica mantiene a las anuales floreciendo por más largo tiempo y
                    usualmente resulta en un número más grande de flores. Anuales tales como la caléndula, zinias,
                    salvia, geranios, cosmos y otras flores de espiga o de tallo individual se benefician con esta
                    práctica.</p>
                <p>Para controlar el crecimiento de algunas anuales, se sugiere pincharlas o sacar la punta de
                    crecimiento. Esto promueve un crecimiento más compacto y una apariencia más nítida. Las puntas de
                    algunas plantas tales como petunias y alegrías se pueden cortar de 6 a 8 pulgadas a mediados o
                    término de verano cuando ya la primera explosión de flores ha terminado para promover un segunda
                    floración en el otoño. El tiempo de hacerlo es inmediatamente después del 4 de julio. Después de
                    cortarlas aplique fertilizante y agua para promover nuevo crecimiento.</p>
            </div>
        </div>

        <div class="programas">
            <div class="carta">
                <div id="title">
                    <h3>Bulbosas</h3>
                </div>
                <img src="./assets/tulipan.png">
                <h3>Las plantas bulbosas son plantas herbáceas y perennes que presentan órganos subterráneos de reserva
                    de nutrientes, algunas recomendaciones a tener en cuenta son:</h3>
                <p>Antes de sembrar, es indispensable realizar una preparación adecuada del suelo, ya que el drenaje del
                    mismo es esencial en el cultivo de bulbos. Si el suelo es muy arcilloso se puede mejorar agregando
                    compost, turba u otra fuente de material orgánico.</p>
                <p>También es indispensable tener en cuenta cuánta luz va a necesitar la planta elegida. Los bulbos de
                    flor de primavera plantados con orientación sur florecerán antes que los mismos bulbos plantados con
                    orientación norte. Del mismo modo, los plantados en una colina florecerán antes que los bulbos de un
                    llano. Respecto a los de verano, estos necesitan sol o semisombra para florecer.</p>
                <p>En otoño (a partir de mediados del mes de octubre), se plantan los bulbos de floración primaveral
                    (tulipanes, jacintos y narcisos), mientras que las bulbosas que florecen en verano (dalia, azucena,
                    gladiolo, etc.) se siembran en primavera. Todos los ejemplares se deben introducir a una profundidad
                    de dos a tres veces la longitud del bulbo.</p>
                <p>Tras la siembra es necesario regar los bulbos para que la tierra se asiente y la planta eche raíz.
                    Después, hay que mantener el suelo húmedo al nivel de las raíces para obtener una buena floración.
                    Es mejor un riego escaso que una tierra encharcada, ya que puede provocar que la planta se pudra.
                </p>
            </div>
        </div>

        <div class="programas">
            <div class="carta">
                <div id="title">
                    <h3>Palmeras</h3>
                </div>
                <img src="./assets/palma.png">
                <h3>Entre las plantas favoritas para interiores se encuentran las palmeras</h3>
                <h3>Luz:</h3>
                <p>Sin luz son muy pocas las cosas que pueden sobrevivir y las palmeras no son la excepción. Una
                    palmera en interiores debe recibir buena luz solar aunque sea de forma indirecta. Lo ideal es
                    colocarla cerca de una ventana, puerta de cristal o en la terraza, donde la luz o claridad entre
                    fuerte pero de forma difuminada. </p>
                <h3>Riegos:</h3>
                <p>En interiores los riegos deben ser más esporádicos que en exteriores, ya que el sol no está
                    para evaporar los excesos de agua en el terreno. A la hora de regar, espera a que el terreno esté
                    bastante seco. Puedes introducir un dedo en la tierra, si notas que aún está húmedo espera algunos
                    días antes de volver a regar.</p>
                <h3>Terreno:</h3>
                <p>Igual que con las palmeras en exteriores, el terreno de las de interiores deber ser uno
                    suelto y bien drenado. Existen palmeras que prefieren los terrenos que retienen algo de humedad,
                    pero esto no quiere decir que puedan vivir con las raíces cubiertas de agua.</p>
                <h3>Mantenimiento general</h3>
                <p>Como con todas las plantas de interiores, el factor más importante en cuanto
                    cuidados eres tú. Recuerda que dentro de la casa ellas no reciben tanto sol, lluvia o humedad del
                    medio ambiente. Entonces dependen mayormente de ti. </p>
            </div>
        </div>

        <div class="programas">
            <div class="carta">
                <div id="title">
                    <h3>Helechos</h3>
                </div>
                <img src="./assets/helecho.png">
                <h3>Los helechos son plantas fáciles de cuidar en interiores</h3>
                <p>Los helechos son plantas que prefieren la sombra, por lo que idealmente deben colocarse en espacios
                    cerca de la ventana, para que reciban luz indirecta y evitar que se quemen sus hojas. Además, es
                    importante mantenerlos en temperaturas alrededor de los 20ºC, ya que las bajas temperaturas afectan
                    su sobrevivencia.</p>
                <p>Los helechos requieren de fertilizante al menos una vez al mes, ya que, como todas las plantas,
                    necesitan nutrientes y vitaminas para crecer. Lo mejor es comprar fertilizante que se disuelve en el
                    agua. Sin embargo, es importante esperar 6 meses a partir de su germinación para empezar a ponerle
                    fertilizante.</p>
                <p>El helecho es una planta que necesita de humedad, por lo que se recomienda regarlo cada dos días en
                    época de calor. Sin embargo, en época de frío se debe regar de tres a cuatro veces por semana. Otra
                    opción, es pulverizar de vez en cuando sus hojas con agua, ya que al ser una planta de clima
                    tropical, requiere de humedad sin ahogar la planta.</p>
            </div>
        </div>

        <div class="programas">
            <div class="carta">
                <div id="title">
                    <h3>Trepadoras</h3>
                </div>
                <img src="./assets/enrejado-trepador.png">
                <h3>Las plantas trepadoras o enredaderas son aquellas que consiguen elevarse del suelo de una manera
                    excepcional apoyándose en otras plantas o valiéndose de algún soporte, como una valla o una celosía.
                </h3>
                <p>Lo más importante a tener en cuenta es el clima. Es fundamental que se adapte bien al entorno, para
                    ello hay que prestar especial interés a:</p>
                <ul>
                    <li>La luz: Las enredaderas crecen bien en zonas sombrías, pero si eliges una variedad con flores es
                        mejor ubicarlas en una zona soleada para que la floración sea abundante, como por ejemplo la
                        buganvilla.</li>
                    <br>
                    <li>El viento: Hay que tener especial cuidado con los vientos, salinos de las zonas costeras, ya que
                        traen sal y se depositan en las plantas y las quema. Hay especies especialmente resistentes como
                        la Madreselva.</li>
                    <br>
                    <li>La temperatura: Hay que asegurarse de que la especie resiste sobre todo las bajas temperaturas,
                        como la hiedra.</li>
                </ul>
            </div>
        </div>
        <div class="programas">
            <div class="carta">
                <div id="title">
                    <h3>Acuaticas</h3>
                </div>
                <img src="./assets/lirio-de-agua.png">
                <h3>Son las plantas que solemos ver a menudo en viveros y en hogares cuya diferencia con las plantas
                    terrestres es que se adaptan muy fácilmente a los medios con alta humedad</h3>
                <p> Para evitar que se pudran, y que en consecuencia deterioren la calidad del agua del estanque, el
                    tonel o la charca, se deben podar las hojas, las ramas y las flores.</p>
                <p>También es recomendable extender una tela metálica sobre el estanque si las plantas acuáticas están
                    cerca de árboles de hoja caduca.</p>
                <p>El abono escogido debe ser el de lenta liberación, desde el primer día, el mismo abono que se utiliza
                    para plantas terrestres.</p>
            </div>
        </div>

    </div>
</section>