<div>
    <mat-toolbar color="accent" class="navbar">
        <span>
            <img src="./assets/planta.png"> Eco-Pets
        </span>
    
        <div class="spacer"></div>

        <a id="navv" mat-raised-button routerLink="">Mis plantas</a>
        <a id="navv" mat-raised-button routerLink="cuidados">Cuidados</a>
        <a id="navv" mat-raised-button routerLink="recomendaciones">Recomendaciones</a>
        <a id="noti" routerLink="notificaciones"><img src="./assets/notificacion.png"></a>
        <a id="noti" routerLink=""><img src="./assets/cerrar-sesion.png"></a>
    </mat-toolbar>
</div>

<router-outlet></router-outlet>